.upload-container {
  border: 0.2rem dashed cornflowerblue;
  min-height: 10rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

.image-item {
  height: 9em;
  border: 1px solid cornflowerblue;
}

.picture-box {
  position: relative;
  margin: 0.4rem;
}

.image-description {
  font-size: 1em;
  color: blueviolet;
}

.delete-button {
  top: 0.5rem;
  right: 0.5rem;
  position: absolute;
  z-index: 1;
}
