.upload-container {
  border: 0.2rem dashed cornflowerblue;
  min-height: 10rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

.image-item {
  height: 8rem;
  border: 1px solid cornflowerblue;
}

.hovered .image-item {
  filter: blur(0.1rem);
}
.invalid .image-item {
  filter: blur(0.3rem);
}

.picture-box {
  position: relative;
  margin: 0.4rem;
}

.picture-box.invalid {
  border: 1px solid red;
}

.image-description {
  font-size: 1em;
}

.delete-button {
  top: 0.5rem;
  right: 0.5rem;
  position: absolute;
  z-index: 1;
}
