<table>
  <thead>
    <tr>
      <td>Id</td>
      <td>File Name</td>
      <td>Content Type</td>
      <td>Size</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of attachments">
      <td>{{item.id}}</td>
      <td>{{item.fileName}}</td>
      <td>{{item.contentType}}</td>
      <td>{{item.fileSize}}</td>
      <td>
        <a mat-button target="_blank" [href]="'/attachment/download/' + item.id"><mat-icon>open_in_new</mat-icon></a>
        <button mat-button (click)="delete(item)"><mat-icon>delete</mat-icon>Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="upload-area">
  <input type="file" multiple style="display: none;" #file (change)="fileChange(file.files)"/>
  <button mat-button (click)="addFiles()">添加文件...</button>
  <button mat-raised-button (click)="upload(file.files)" color="primary" *ngIf="images.length > 0">上传</button>
  <div gdAuto="column dense">
    <img style="height: 150px; border: 1px solid blue;" [src]="image" *ngFor="let image of images"/>
  </div>
</div>
