<header>
  <mat-toolbar color="primary" class="mat-elevation-z4">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <!-- left content -->
      <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="start center">
        <button mat-button [routerLinkActive]='["link-active"]' [routerLink]='["/home"]'>BetterOwner</button>
        <button mat-button [routerLinkActive]='["link-active"]' [routerLink]='["/explore"]'>Search</button>
        <button mat-button [routerLinkActive]='["link-active"]' [routerLink]='["/my"]'>My</button>
      </div>
      <!-- right content -->
      <div fxLayout="row">
        <button mat-button [routerLinkActive]='["link-active"]' [routerLink]='["/login"]'>登录</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
