<header>
  <nav fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="start center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <a [routerLink]='["/"]'>BetterOwner</a>
        <button type="button" (click)="toggle()">
          <mat-icon>view_headline</mat-icon>
        </button>
      </div>

      <a [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' [routerLink]='["/"]'>Home</a>
      <a [routerLinkActive]='["link-active"]' [routerLink]='["/counter"]'>Counter</a>
      <a [routerLinkActive]='["link-active"]' [routerLink]='["/fetch-data"]'>Fetch data</a>
    </div>
    <div fxLayout="row">
      <a [routerLinkActive]='["link-active"]' [routerLink]='["/login"]'>登录</a>
    </div>
  </nav>
</header>
