<h1 mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  <span>发布</span>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</h1>

<div mat-dialog-content fxLayout="column">
  <div fxLayout="row" fxLayoutGap="1rem">
    <mat-form-field fxFlex="1 1 100%">
      <input matInput placeholder="我要发布..." required [(ngModel)]="title" cdkFocusInitial>
    </mat-form-field>
    <mat-form-field fxFlex="1 1 100%">
      <input type="number" matInput placeholder="价格..." min="0.1" required [(ngModel)]="price">
    </mat-form-field>
  </div>
  <div fxLayout="column" fxLayoutGap="1rem">
    <mat-form-field>
      <textarea rows="4" matInput placeholder="描述..." required [(ngModel)]="description"></textarea>
    </mat-form-field>
    <app-file-upload typeLimit="picture" fxFlex="1 1 100%" (fileChanged)="storeFiles($event)"></app-file-upload>
  </div>
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between start">
  <span></span>
  <button mat-raised-button color="primary" (click)="submit()">提交</button>
</div>